#Building Files
/bin/
/out/
out/
/target

#IntelliJ Project Files
*.eml
*.iml
.idea/
.project

#Eclipse
*.eclipse
.DS_Store
#====================================================
#PROJECT FILES
#Exlusions
#====================================================
.gitignore
logs/*.log*
Cahiers des charges/Cahier des charges FINAL.docx
Cahiers des charges/Documents relatifs au projet/
Cahiers des charges/Thumbs.db
Cahiers des charges/WorkDocument Cahier des Charges/
#====================================================
#PROJECT FILES
#Exceptions to exlusion rules
#====================================================
!logs/.gitkeep

# Angular build artifacts
frontend/public/favicon.ico

