<div id="signup-view" class="card">
  <h2>Inscription</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <input formControlName="lastName" type="text" id="lastName" class="form-control input" name="lastName" placeholder="Nom">
      <input formControlName="firstName" type="text" id="firstName" class="form-control input" name="firstName" placeholder="Prénom">
      <input formControlName="username" type="text" id="username" class="form-control input" name="username" placeholder="Nom d'utilisateur">
      <input formControlName="password" type="password" id="password" class="form-control input" name="password" placeholder="Mot de passe">
      <input formControlName="reenterPassword" type="password" id="reenterPassword" class="form-control input" name="reenterPassword" placeholder="Retapez le mot de passe">
      <input formControlName="email" type="email" id="email" class="form-control input" name="email" placeholder="Email">
      <div>
        <select formControlName="selectedOption" type="text" class="form-control input select" id="optionList" name="optionList" [value]="options" (ngModelChange)="onOptionSelected($event)">
          <option *ngFor="let aOption of options" class="form-control input">{{aOption.name}}</option>
        </select>
      </div>
    <button type="submit" class="btn btn-default btn-lg">S'enregistrer</button>
  </form>
  <div class="bottom">Vous avez déjà un compte? <a routerLink="/signin">Connectez-vous</a></div>
</div>
